<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NHInterProcessPro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NHProcessA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NHProcessB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60B0B2D21CF688A70068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B2EB1CF688A80068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B2F61CF688A80068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B30C1CF689FF0068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B3241CF689FF0068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B32F1CF689FF0068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B3431CF68A180068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B35B1CF68A190068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B0B3661CF68A190068E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
